@charset 'UTF-8';

@font-face {
	font-family: OpenSansLight;
	src: url('assets/fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: OpenSansRegular;
	src: url('assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSansBold;
	src: url('assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: LoraRegular;
	src: url('assets/fonts/Lora-Regular.ttf');
}
@font-face {
	font-family: LoraItalic;
	src: url('assets/fonts/Lora-Italic.ttf');
}
@font-face {
	font-family: LoraBold;
	src: url('assets/fonts/Lora-Bold.ttf');
}